
body {
        margin:1%;
	font-size: 120%;
	background: ghostwhite;
        font-family: Arial, Helvetica, sans-serif;
}
.header {
	width: 40%;
	margin: 50px auto 0px;
	color: white;
	background: cadetblue;
	text-align: center;
	border: 1px solid lightsteelblue;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
    border-collapse: collapse;
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid lightsteelblue;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: cadetblue;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid roofterracotta; 
	color: roofterracotta; 
	background: softpeach; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: japaneselaurel; 
	background: hintofgreen; 
	border: 1px solid japaneselaurel;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: left;
}
.profile_info div {
	display: inline-block; 
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
